.assign-1-shape-1 {
    width: 500px;
    padding: 20px;
    background-color: blueviolet;
    width: 50%;
    margin: auto;
    /* background-color: rgb(138, 43, 226); */
    /* background-color: #8a2be2; */
}
.assign-1-shape-2 {
    width: 500px;
    padding: 20px;
    background-color: rgb(138, 43, 226, 50%);
    width: 50%;
    margin: auto;
}
.assign-1-shape-3 {
    width: 500px;
    padding: 20px;
    background-color: hsl(271, 100%, 90%);
    width: 50%;
    margin: auto;
}

