.assign-3-shape-1 {
    height: 400px;
    width: 400px;
    background-image: url(../../media/css-assignment-5-8.png);
    background-repeat: no-repeat;
}
.assign-3-shape-2 {
    height: 400px;
    width: 400px;
    background-image: url(../../media/css-assignment-5-8.png);
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3 {
    height: 400px;
    width: 400px;
    background-image: url(../../media/css-assignment-5-8.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4 {
    height: 400px;
    width: 400px;
    background-image: url(../../media/css-assignment-5-8.png);
    background-repeat: repeat;
}