p {
    width: 400px;
    background-color: #EFEFEF;
    padding: 20px;
    position: relative;
    border-left: 5px solid #E91E63;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -10px;
    border: solid 10px;
    border-color: transparent #E91E63 transparent transparent;
}

::after {
    content: attr(data-person);
    background-color: #DDDDDD;
    text-align: center;
    width: 80px;
    height: 40px;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -20px;
    line-height: 2.5;
}